@model ModuleSourceModel

@{
    ViewBag.Title = "Module source details";
}

<div class="container">
    <div class="row">
        <div class="col-sm-2">
            Name:
        </div>
        <div class="col-sm-8">
            @Model.Name
        </div>
        <div class="col-sm-2">
            <a asp-action="Rename" asp-controller="ModuleSources" asp-route-id="@Model.Id">Edit</a>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-2">
            Location:
        </div>
        <div class="col-sm-8">
            @Model.Location
        </div>
        <div class="col-sm-2">
            <a asp-action="UpdateLocation" asp-controller="ModuleSources" asp-route-id="@Model.Id">Edit</a>
        </div>
    </div>

    <div>
        <br />
        <a asp-action="Index" asp-controller="ModuleSources" class="btn btn-primary">Back</a>
        <a asp-action="Delete" asp-controller="ModuleSources" asp-route-id="@Model.Id" class="btn btn-primary">Delete</a>
    </div>
</div>