@page "/NotificationOverview"

<h3>Notifications</h3>

<ul class="notifications">
    <NotificationList>
        <NoNotificationsTemplate>
            <h4>No notifications!</h4>
        </NoNotificationsTemplate>
        <NotificationTemplate Context="notification">
            <li class="notification" clickable="@(notification.TargetUri != null)">
                <div class="media">
                    <div class="mr-2" style="width:50px; height:50px; display: flex; align-items:center; justify-content:center">
                        @if (notification.NotificationType == NotificationType.Info)
                        {
                            <span class="oi oi-info" aria-hidden="true"></span>
                        }
                        else if (notification.NotificationType == NotificationType.Success)
                        {
                            <span class="oi oi-check" aria-hidden="true"></span>
                        }
                        else if (notification.NotificationType == NotificationType.Warning)
                        {
                            <span class="oi oi-warning" aria-hidden="true"></span>
                        }
                        else if (notification.NotificationType == NotificationType.Danger)
                        {
                            <span class="oi oi-x" aria-hidden="true"></span>
                        }
                    </div>

                    <div class="media-body">
                        <a href="@notification.TargetUri">
                            <strong class="notification-title">@notification.FormatTitle()</strong>
                        </a>
                        @if (!string.IsNullOrWhiteSpace(notification.Description))
                        {
                            <p class="notification-desc">@notification.Description</p>
                        }

                        <div class="notification-meta">
                            <small class="timestamp">@notification.Timestamp</small>
                        </div>
                    </div>

                    @if (notification.AllowDismiss)
                    {
                        <span class="btn btn-outline-primary" @onclick="notification.Dismiss">
                            <span class="oi oi-x" aria-hidden="true"></span>
                            <span class="none-sm">
                                Dismiss
                            </span>
                        </span>
                    }
                </div>

            </li>
        </NotificationTemplate>
    </NotificationList>
</ul>
