@page "/NotificationOverview"
@using AI4E.AspNetCore.Components.Notifications
@implements IDisposable
@inject NotificationManager NotificationManager
@code
{
    private IReadOnlyList<Notification> Notifications { get; set; }

    protected override void OnInitialized()
    {
        UpdateNotifications();
    }

    protected override void OnAfterRender(bool firstRender)
    {
        if (firstRender)
        {
            NotificationManager.NotificationsChanged += OnNotificationsChanged;
        }
    }

    private void OnNotificationsChanged(object sender, EventArgs e)
    {
        UpdateNotifications();
        StateHasChanged();
    }

    public void Dispose()
    {
        NotificationManager.NotificationsChanged -= OnNotificationsChanged;
    }

    private void UpdateNotifications()
    {
        var notifications = NotificationManager.GetNotifications(); ;
        Notifications = (notifications as IReadOnlyList<Notification>) ?? notifications.ToList();
    }

    private static string FormatNotificationTitle(in Notification notification)
    {
        if (!string.IsNullOrWhiteSpace(notification.Message))
        {
            return notification.Message;
        }

        return notification.NotificationType.ToString();
    }
}

<h3>Notifications</h3>

@if (Notifications.Any())
{
    <ul class="notifications">
        @for (var i = 0; i < Notifications.Count; i++)
        {
            var notification = Notifications[i];

            <li class="notification" clickable="@(notification.TargetUri != null)">
                <div class="media">
                    <div class="mr-2" style="width:50px; height:50px; display: flex; align-items:center; justify-content:center">
                        @if (notification.NotificationType == NotificationType.Info)
                        {
                            <span class="oi oi-info" aria-hidden="true"></span>
                        }
                        else if (notification.NotificationType == NotificationType.Success)
                        {
                            <span class="oi oi-check" aria-hidden="true"></span>
                        }
                        else if (notification.NotificationType == NotificationType.Warning)
                        {
                            <span class="oi oi-warning" aria-hidden="true"></span>
                        }
                        else if (notification.NotificationType == NotificationType.Danger)
                        {
                            <span class="oi oi-x" aria-hidden="true"></span>
                        }
                    </div>

                    <div class="media-body">
                        <a href="@notification.TargetUri">
                            <strong class="notification-title">@FormatNotificationTitle(notification)</strong>
                        </a>
                        @if (!string.IsNullOrWhiteSpace(notification.Description))
                        {
                            <p class="notification-desc">@notification.Description</p>
                        }

                        <div class="notification-meta">
                            <small class="timestamp">@notification.Timestamp</small>
                        </div>
                    </div>

                    @if (notification.AllowDismiss)
                    {
                        <span class="btn btn-outline-primary" @onclick="notification.Dismiss">
                            <span class="oi oi-x" aria-hidden="true"></span>
                            <span class="none-sm">
                                Dismiss
                            </span>
                        </span>
                    }
                </div>

            </li>
        }
    </ul>
}
else
{
    <h4>No notifications!</h4>
}


@*<li class="notification">
        <div class="media">
            <img data-src="holder.js/50x50?bg=cccccc" class="mr-2 img-circle" alt="Name">
            <div class="media-body">
                <strong class="notification-title"><a href="#">Dave Lister</a> commented on <a href="#">DWARF-13 - Maintenance</a></strong>
                <p class="notification-desc">I totally don't wanna do it. Rimmer can do it.</p>

                <div class="notification-meta">
                    <small class="timestamp">27. 11. 2015, 15:00</small>
                </div>
            </div>
        </div>
    </li>*@
